@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#contaianer {
  
  font-family: 'Raleway', sans-serif;
  position: relative;
  width: 100vw;
  height: calc(100vh - 70px);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

#wrapper {
  overflow: hidden;
  position: absolute;
  width: 1500px;
  height: 700px;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#wrapper div {
  position: absolute;
  background-position: center center;
  background-size: cover;
}

.p1 {
  width: 1776px;
  height: 1183px;
  z-index: 6;
  background-image: url('//caraujo_pens.surge.sh/images/S6WCriT.jpg');
  left: -89px;
  top: -191px;
}

.p2 {
  width: 927px;
  height: 854px;
  z-index: 8;
  background-image: url('//caraujo_pens.surge.sh/images/aeffA4C.png');
  left: -83px;
  top: 169px;
}

.p3 {
  width: 1082px;
  height: 729px;
  z-index: 10;
  left: 718px;
  top: 136px;
}

.word {
  font-weight: 900;
  font-size: 17.5em;
  top: 1%;
  margin-top: -115px;
  width: 100%;
  text-align: center;
  z-index: 7;

  h1 {
    font-size: 300px;
    font-family: "Microgram", sans-serif;
    background-color: rgb(0, 0, 37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

