.seller {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    .box {
        background-color: white;
        width: 50%;
        margin-top: 30px;
        height: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    .toppart {

        height: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
        .wrapper {
            padding : 5px;

            h1 {
                font-size: 36px;
            }
        }
    }

    .bottompart {
        height: 100%;
        width: 100%;
        
        overflow: hidden;
        
        .wrapper {
            padding: 5px ;
            height: 100%;
            
            overflow: hidden;

            form {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: space-evenly;
                height: 100%;
                margin-top: 15px;
                
                overflow: hidden;
                .line {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    height: 200px;
                    padding: 20px 0px;
                    
                    overflow: hidden;

                    label {
                        font-size: 24px;
                        font-weight: 300;
                        margin: 10px 0px;
                        height: 40%;
                        background-color: lightcoral;
                        z-index: 2;
                        overflow: hidden;
                    }

                    .textbox{
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        height: 50%;
                        background-color: lightseagreen;
                        z-index: 2;

                        textarea {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            width: 50%;
                            height: 30px;
                        }
                    }

                    .checkboxes {

                    }

    
                    
                }
                .button {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    height: 40px;
                    width: 100%;
                    button {
                    width: 80px;
                    height: 40px;
                    }
            }
            }
        }

    }
}
}