.userpage {
    height: 100vh;

    .toppart {
        height: 100px;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;;
        

        .title {
            height: 50%;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            
        flex-direction: column
        }
    }

    .bottompart {
        background-color: cornsilk;
        width: 100%;

        .itemcontainer {
            margin : 10px 10px ;
            height: 100%;
            h3{
                font-size: 24px;
                text-align: center;
            }

            .searchbar {
                display: flex;
                text-align: center;
                justify-content: center;
                width: inherit;
                height: 30px;
                padding: 15px 0px;

                .searchbox {
                    background-color: lightcoral;
                    height: 40px;
                    width: 100%;
                }
            }

            .items {
                width: 80%;
                height: 75%;
                margin-left: 10%;
                font-size: 24px;
                display: flex;
                flex-direction: column;

                .item {
                    width: 100%;
                    height: 40px;
                    padding: 10px 15px;
                    display : flex;
                    
                align-items: center;
                justify-content: space-between;
                    
                    border: 1px solid black;
                    border-radius: 10px;

                    .username {
                        height: 100%;
                        width: 40%;
                    }
                    .location {
                        height: 100%;
                        width: 15%;
                        padding-left: 10px;
                    }
                    .kw {
                        height: 100%;
                        width: 10%;
                    }
                    .price {
                        height: 100%;
                        width: 10%;
                    }

                    .submit {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        height: 100%;
                        width: 10%;
                        background-color: coral;

                        button {
                            width: 60px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}