.userpage {
    background: linear-gradient(yellow, black);
    overflow-x: hidden;

    .toppart {
        height: 100px;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;;
        

        .title {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            
        flex-direction: column
        }
    }

    .bottompart {
        width: 80%;
        background-color: yellow;
        margin-left : 10%;
        border-radius: 10px;

        .itemcontainer {
            margin : 10px 10px ;
            
            h3{
                font-size: 24px;
                text-align: center;
            }

            .searchbar {
                display: flex;
                text-align: center;
                justify-content: center;
                width: inherit;
                height: 30px;
                padding: 15px 0px;
                overflow: hidden;

                .searchbox {
                    height: 40px;
                    width: 100%;
                }
            }

            .items {
                width: 80%;
                height: 450px;
                margin-left: 10%;
                font-size: 24px;
                display: flex;
                flex-direction: column;

                .item {
                    width: 25%;
                    height: 200;
                    margin: 10px 15px;
                    display : flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    border: 1px solid black;
                    border-radius: 10px;

                    
                    .location {
                        height: 30px;
                        width: 100%;
                        text-align: center;
                        border-bottom: 1px solid black;
                       
                    }
                    .kw {
                        height: 30px;
                        width: 100%;
                        text-align: center;
                       
                    }
                    .price {
                        height: 30px;
                        width: 100%;
                        text-align: center;
                    }

                    .submit {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        height: 30px;
                        width: 100%;

                        button {
                            width: 60px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}