@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.home {
    
    font-family: 'Raleway', sans-serif;
    color: black;
    width: inherit;
    height: inherit;
    display: flex;
    background-image: url("https://cdn.wallpapersafari.com/3/87/fNMyG9.jpg");
    .higherpart {
        
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 40px;
        flex: 0.3;
        

        .logo {
            height: 400px;
            width: 400px;
            display: flex;
            justify-content: center;
            text-align: center;
            
            margin-top: 100px;
            border-radius: 50%;
            img {
                width: 300px;
                height: 200px;
                border-radius: 20px;
                margin-top: 100px;
                animation: blink 2s normal;
            }
            img:hover{
                cursor: pointer;
            }
            
                
                
            
            @keyframes blink {
                from {
                    opacity: 0;
                    transform: scale(0, 0);
                }
                50% {
                    opacity: 1;
                    transform: scale(1.1, 1.1);
                }
                to {
                    transform: scale(1, 1);
                }
            }
        }
        
    }
    .bottompart {
        display: flex;
        justify-content: center;
        text-align: center;
        flex: 0.7;
        .textbox {
            width: 60%;
            margin-top: 15px;
            height: 350px;
            
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            border-radius: 5px;
            color: rgb(0, 0, 37);
            font-size: 18px;

            margin-top: 13%;
            
            

            .title {
                justify-content: center;
                
                height: 50px;
                font-size: 26px;
                overflow: hidden;
                h3 {
                    margin-top : 15px;
                } 
            }
            .description {
                
                margin-top: 15px;
                height: 250px;

                p{
                    width: 90%;
                    margin-left: 5%;
                }
            }
        }
    }
}